html, body {
    margin: 0px;
    height: 100%;
    overflow: hidden; /* Some artifacts, when resizing canvas */
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

canvas {
    width: 100%;
    height: 100%;
}
